<!DOCTYPE html>
<html ng-app='grabbag'>
<head>
  <meta charset="utf-8" />
  <title>grabbag.io</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/jquery-ui/jquery-ui.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="app/app.js"></script>
</head>
<body ng-controller="AppController" >
  <!-- <div class="container"> -->
    <h1>grabbag.io</h1>
    <form ng-submit="submitHandler()">
      <input name="queryField" type="text" ng-model="query" >
    </form>
    <div class="widget weather" ng-repeat="result in results track by $index" draggable><span>{{ result }}</span></div>
  <!-- </div> -->
</body>
</html>